/* Navigation Section */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom: 8px;
}

/* Home Section  */
#home{
    height: 370px;
    padding: 3px 68px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Services Section  */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0;
    margin-bottom: 20px;
}


/* Clint Section  */
#clints{
    flex-wrap: wrap;
}

#clints img{
    width: 66px;
    padding: 6px;
    height: auto;
}


/* Contact Secton  */

#contact-box form{
    width: 80%;
}

/* footer section */

/* Utility Classes */
.h-primary{
    font-size: 26pxs;
   
}

.h-secondary{

}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}